@import "tailwindcss";
@tailwind utilities;

@layer base {
  html{
    font-family: "Space Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
}

/* Footer container styles */
.footer-container {
  background-image: url("../assets/footerBg.png"); /* Path to your background image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #f1f1f1; /* Light text color */
}

.footer-container a {
  color: #f1f1f1; /* Ensure links are light-colored */
}

/* .footer-container button {
  background-color: transparent;
  border-color: #f1f1f1;
  color: #f1f1f1;
} */
